<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solar System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card *ngFor="let item of planets">
      <img src="assets/world.png" class="planet"/>
      <ion-card-header>
        <ion-card-subtitle>Image From FlatIcons</ion-card-subtitle>
        <ion-button color="dark" (click)="nextpage(item.id)">{{ item.name }}</ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
 